# Build do CMake
/build/
/CMakeCache.txt
/CMakeFiles/
/Makefile
/cmake_install.cmake
CMakeUserPresets.json

# Dependências baixadas automaticamente pelo FetchContent do CMake
_deps/
_build/
glfw-src/
glfw-build/
external/

# Arquivos de saída do compilador e binários executáveis
*.o
*.obj
*.exe
*.out
*.a
*.lib
!Common/lib/*.a
*.dll
*.so
app
a.out

# Arquivos temporários e de configuração da IDE (VS Code / Visual Studio)
.vscode/
.vs/
*.VC.db
*.vcxproj.user
*.opensdf
*.sdf
*.suo
*.user
*.userosv
*.sln.docstates
*.idb
*.pdb
*.ilk

# Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini
*.log
